# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.pid
spring-boot-devtools.properties

# Build
build/
dist/

# Environment
.env
*.env

# Credenciales
**/application.properties
**/application.yml