spring.application.name=payroll_engine

spring.datasource.url=jdbc:postgresql://REEMPLAZAR_HOST:REEMPLAZAR_PUERTO/REEMPLAZAR_DBNAME
spring.datasource.username=REEMPLAZAR_USUARIO
spring.datasource.password=REEMPLAZAR_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.ejb.interceptor=org.hibernate.envers.event.EnversIntegrator
spring.jpa.properties.hibernate.default_schema=payroll
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

server.port=8083

services.masterdata.url=http://localhost:8082

jwt.secret=REEMPLAZAR_CON_CLAVE_ALEATORIA_LARGA
jwt.expiration=7200000

internal.api.key=REEMPLAZAR_CON_TU_API_KEY_INTERNA

logging.level.root=INFO
logging.level.com.fenomina.masterdata=DEBUG
logging.level.com.fenomina.payroll_engine=DEBUG
logging.level.org.springframework.web=DEBUG
logging.level.org.springframework.security=DEBUG

management.endpoints.web.exposure.include=health
management.endpoint.health.show-details=never