spring.application.name=auth-service

# Base de datos
spring.datasource.url=jdbc:postgresql://REEMPLAZAR_HOST:REEMPLAZAR_PUERTO/REEMPLAZAR_DBNAME
spring.datasource.username=REEMPLAZAR_USUARIO
spring.datasource.password=REEMPLAZAR_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.ejb.interceptor=org.hibernate.envers.event.EnversIntegrator
spring.jpa.properties.hibernate.default_schema=auth
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

server.port=8081

# JWT
jwt.secret=REEMPLAZAR_CON_CLAVE_ALEATORIA_LARGA
jwt.expiration=7200000
jwt.refresh-expiration=604800000

logging.level.root=INFO
logging.level.com.fenomina.auth=DEBUG
logging.level.org.springframework.web=DEBUG
logging.level.org.springframework.security=DEBUG

management.endpoints.web.exposure.include=health
management.endpoint.health.show-details=never