spring.application.name=historicos-service

spring.datasource.url=jdbc:postgresql://REEMPLAZAR_HOST:REEMPLAZAR_PUERTO/REEMPLAZAR_DBNAME
spring.datasource.username=REEMPLAZAR_USUARIO
spring.datasource.password=REEMPLAZAR_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

server.port=8084

jwt.secret=REEMPLAZAR_CON_CLAVE_ALEATORIA_LARGA
jwt.expiration=7200000

logging.level.root=INFO
logging.level.com.fenomina.historicos_service=DEBUG
logging.level.org.springframework.web=DEBUG
logging.level.org.springframework.security=DEBUG

management.endpoints.web.exposure.include=health
management.endpoint.health.show-details=never